.section__container {
   border-radius: 24px;
   overflow: hidden;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0;
}
.section__title {
   padding: 13px 32px;
   background: #e5e5e5;
   border-radius: 24px 24px 0 0;
   display: flex;
   div {
      font-size: 14px;
      line-height: 130%;
      color: #000222;
      font-weight: 400;
   }
}
.section__content {
   display: flex;
   flex-direction: column;
   row-gap: 2px;
}
